@tailwind base;
@tailwind components;
@tailwind utilities;

hr {
  border-color: #C1FD35;
  border: 1px solid #C1FD35;
}

.gradient {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(334deg, #1100fd, #04001D, #020496);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}